{{define "content"}}
{{template "header" .}}
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="card-header">
                ようこそ、{{.Basic.Name}}さん。
            </div>
            <label>サービスの利用には会員登録が必要です。</label>
        <form action="/createnew" method="POST">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">NickName</span>
            </div>
            <input name="nickname" type="text" class="form-control" placeholder="{{.Basic.Name}}" aria-label="nickname" aria-describedby="addon-wrapping">
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
        </div>
    </div>
</div>
{{template "footer" .}}
{{end}}
