{{define "header"}}
<html>
    <head>
        <title>{{.Basic.Title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Webservice2020</span>
    {{if eq .Basic.Login 0 }}
        <a href="/login">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">入室</button>
        </a>
    {{else}}
        <span class="navbar-text">
        こんにちは、{{.Basic.Name}}さん
        <a href="/logout">
            <button type="button" class="btn btn-secondary">退室</button>
        </a>
        </span>
    {{end}}
</nav>
{{end}}
