{{define "content"}}
{{template "header" .}}
        <div class="card">
            <div class="card-body">
        <div class="container">
        <form action="/form" method="POST">
            <div class="form-group">
                <label>ユーザ名</label>
                <input type="text" name="user" class="form-control" placeholder="名無し" value="{{.PresetName}}">
                
                <label>投稿内容</label>
                <textarea name="message" class="form-control" placeholder="思うがままに書いてみましょう"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">投稿</button>
        </form>
        <ul class="list-group">
            {{range .Message}}<li class="list-group-item"><p><mark>{{.Name}}</mark> <small class="text-muted">{{printf "%02d:%02d" .Time.Hour .Time.Minute}}</small></p>{{.Text}}</li>{{end}}
        </ul>
        </div>
    </div>
</div>
{{template "footer" .}}
{{end}}